@import 'modern-normalize/modern-normalize.css';

:root {
  --mobile: 360px;
  --tablet: 768px;
  --desktop: 1280px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

p{
  margin: 0;
  padding: 0;
}
